
*,
*::before,
*::after {
  box-sizing: border-box;
}


.chessboard {
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(7, 1fr);
width: 30vw;
height: 30vh;
max-width: 100%;
max-height: 100%;
aspect-ratio: 8 / 7;
}

.square {
position: relative;
width: 100%;
height: 0;
padding-bottom: 100%; /* Maintain 1:1 aspect ratio */
}


.square::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.square.white {
background-color: white;
}

.square.black {
background-color: black;
}


.blu {
    background-color: rgb(57,167,237);
}

.red{
    background-color: rgb(240,55,88);
}

.yel{
    background-color: rgb(247,216,30);
}

.gre{
    background-color: rgb(157,206,82);
}

.bla{
    background-color: rgb(61,61,61);
}

.pur{
    background-color: rgb(102,72,157);
}
  